---
import { getCollection } from 'astro:content'

import MarkdownLayout from '~/layouts/MarkdownLayout.astro'

export async function getStaticPaths() {
  const allBlogPosts = await getCollection('blog')

  return allBlogPosts.map(({ slug, render, data }) => ({
    params: {
      slug,
    },
    props: {
      render,
      title: data.title,
      keywords: data.keywords,
      description: data.description,
    },
  }))
}

const { render, title, keywords, description } = Astro.props

const { Content } = await render()
---

<MarkdownLayout title={`${title} | Fwio`} {...{ keywords, description }}>
  <h1>{title}</h1>
  <Content />
</MarkdownLayout>
