---
import MarkdownLayout from '@/layouts/MarkdownLayout.astro'
import { getCollection } from 'astro:content'
import { ClockIcon } from 'lucide-react'

export async function getStaticPaths() {
  const allBlogPosts = await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true
  })

  return allBlogPosts.map(({ slug, render, data }) => ({
    params: {
      slug,
    },
    props: Object.assign(data, {
      render,
    }),
  }))
}

const { render, title, keywords, description, date, minutesRead } = Astro.props

const { Content } = await render()
---

<MarkdownLayout title={`${title} | Fwio`} {...{ keywords, description }}>
  <h1 class="text-2xl font-bold">{title}</h1>
  <section class="flex items-center space-x-6 text-sm text-muted-foreground">
    <time datetime={new Date(date).toISOString()}
      >{new Date(date).toLocaleDateString()}</time
    >
    <div class="flex items-center space-x-2">
      <ClockIcon className="size-4" />
      <span>{minutesRead}</span>
    </div>
  </section>
  <Content />
  <section class="mx-auto mt-12 max-w-prose">
    <script
      src="https://giscus.app/client.js"
      data-repo="3fuyang/giscus"
      data-repo-id="R_kgDONKr3yQ"
      data-category="Announcements"
      data-category-id="DIC_kwDONKr3yc4Cj_Yn"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="0"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async></script>
  </section>
</MarkdownLayout>
