---
import { getCollection } from 'astro:content'

import MarkdownLayout from '~/layouts/MarkdownLayout.astro'

export async function getStaticPaths() {
  const allBlogPosts = await getCollection('blog')

  return allBlogPosts.map(({ slug, render, data }) => ({
    params: {
      slug,
    },
    props: {
      render,
      title: data.title,
      keywords: data.keywords,
      description: data.description,
    },
  }))
}

const { render, title, keywords, description } = Astro.props

const { Content } = await render()
---

<MarkdownLayout title={`${title} | Fwio`} {...{ keywords, description }}>
  <h1>{title}</h1>
  <Content />
  <section class="mx-auto mt-12 max-w-prose">
    <script
      src="https://giscus.app/client.js"
      data-repo="3fuyang/giscus"
      data-repo-id="R_kgDONKr3yQ"
      data-category="Announcements"
      data-category-id="DIC_kwDONKr3yc4Cj_Yn"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="0"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="preferred_color_scheme"
      data-lang="en"
      crossorigin="anonymous"
      async />
  </section>
</MarkdownLayout>
