/* Define background and scrollbar style. */
:root {
  --c-bg: #fff;
  --c-scrollbar: #d3d0d7;
  --c-scrollbar-hover: #9e9cae;
  --c-scrollbar-active: #787878;

  font-family: 'Geist Sans', sans-serif;
  font-weight: 300;

  background-color: var(--c-bg);
  transition: background-color 0.2s ease;
}

:root.dark {
  --c-bg: #000;
  --c-scrollbar: #787878;
  --c-scrollbar-hover: #c2c2bd;
  --c-scrollbar-active: #ebf0f1;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:horizontal {
  height: 5px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--c-scrollbar-active);
}

a.prose-heading-anchor {
  color: inherit;
  transition: all 0.2s ease;
  text-decoration: none;
  text-decoration-thickness: 2px;
}

a.prose-heading-anchor:hover {
  text-decoration: underline;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  scroll-margin-block-start: 4rem;
}

.prose pre:not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-size: 1em;
}

.prose code:not(:where([class~="not-prose"],[class~="not-prose"] *,pre *)) {
  @apply font-semibold rounded bg-muted px-[0.3em] py-[0.2em] before:content-none after:content-none
}

.prose blockquote:not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  quotes: none;
  font-style: normal;
  padding-inline-start: .75em;
  border-left-width: 4px;
}

.prose p:not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 300;
}

.prose ul:not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 1em;
}

.prose ul > li:not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose a:not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  text-underline-offset: .2em;
}
