/* This .css file aims at stylizing code rendered by MDX. */
code {
  font-size: .9em;
  color: #05348b;
  background: #f4f4f4;
  padding: .2em .5em;
  border-radius: .3rem;
}

.dark code {
  color: #aac8e4;
  background: #2F2F2F;
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  font-size: .875em;
  line-height: 1.7;
  margin: 1.7em 0;
  padding: .85em 1.15em;
  border-radius: .475rem;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: #6e6e6e;
  background: #f4f4f4
}

.dark .hljs {
  color: #d4cfbf;
  background: #1e1e1e
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #1c6b48
}

.dark .hljs-doctag,
.dark .hljs-keyword,
.dark .hljs-meta .hljs-keyword,
.dark .hljs-template-tag,
.dark .hljs-template-variable,
.dark .hljs-type,
.dark .hljs-variable.language_ {
  color: #4d9375
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: rgb(108, 120, 52)
}

.dark .hljs-title,
.dark .hljs-title.class_,
.dark .hljs-title.class_.inherited__,
.dark .hljs-title.function_ {
  color: #54b1bf
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #296aa3
}

.dark .hljs-attr,
.dark .hljs-attribute,
.dark .hljs-literal,
.dark .hljs-meta,
.dark .hljs-number,
.dark .hljs-operator,
.dark .hljs-selector-attr,
.dark .hljs-selector-class,
.dark .hljs-selector-id,
.dark .hljs-variable {
  color: #6394bf
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #b56959
}

.dark .hljs-meta .hljs-string,
.dark .hljs-regexp,
.dark .hljs-string {
  color: #d48372
}

.hljs-built_in,
.hljs-symbol {
  color: #e36209
}

.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #a0ada0
}

.dark .hljs-code,
.dark .hljs-comment,
.dark .hljs-formula {
  color: #758575
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #22863a
}

.hljs-subst {
  color: #24292e
}

.hljs-section {
  color: #005cc5;
  font-weight: 700
}

.hljs-bullet {
  color: #735c0f
}

.hljs-emphasis {
  color: #24292e;
  font-style: italic
}

.hljs-strong {
  color: #24292e;
  font-weight: 700
}

.hljs-addition {
  color: #22863a;
  background-color: #f0fff4
}

.hljs-deletion {
  color: #a14f55;
  background-color: #ffeef0
}