---
import MarkdownLayout from '@/layouts/MarkdownLayout.astro'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const allBlogPosts = await getCollection('essay', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  })

  return allBlogPosts.map(({ slug, render, data }) => ({
    params: {
      slug,
    },
    props: {
      render,
      title: data.title,
    },
  }))
}

const { render, title } = Astro.props

const { Content } = await render()
---

<MarkdownLayout title={`${title} | Fwio`}>
  <h1>{title}</h1>
  <Content />
</MarkdownLayout>
