---
interface Props {
  to: string
  title: string
}

const { pathname } = Astro.url

const { to, title } = Astro.props
---

<a class:list={['link', pathname === to ? 'op100' : '']} href={to}>
  <span>{title}</span>
</a>
