---

---

<footer class="mt-auto flex justify-self-end pb-6 pt-10 opacity-80">
  <article class="prose mx-auto dark:prose-invert">
    <section class="text-sm">
      License&nbsp;
      <span>2022-PRESENT &copy; Fwio</span>
    </section>
  </article>
</footer>
