---

---

<footer class="flex pb-6 pt-10 opacity-80">
  <article class="prose mx-auto">
    <section class="text-sm">
      <a href="/" rel="noreferrer" target="_blank"> License </a>
      <span> 2022-PRESENT © Fwio </span>
    </section>
  </article>
</footer>
