---
---

<footer class="mt10 mb6 op80 flex max-w-45em m-auto box-border">
  <span class="text-sm">
    <a
      href="/"
      rel="noreferrer"
      target="_blank"
      class="b-b-1 b-gray-300 hover:b-gray-500 transition duration-200"
    >
      License
    </a>
    {' '}
    2022-PRESENT © Fwio
  </span>
  <div class="flex-auto"></div>
</footer>
