---
---

<footer class="pt10 pb6 op80 flex">
  <article class="prose mx-a">
    <section class="text-sm">
      <a
        href="/"
        rel="noreferrer"
        target="_blank"
      >
        License
      </a>
      <span>
        2022-PRESENT © Fwio
      </span>
    </section>
  </article>
</footer>
