---
---

<footer class="flex pb6 pt10 op80">
  <article class="mx-a prose">
    <section class="text-sm">
      <a
        href="/"
        rel="noreferrer"
        target="_blank"
      >
        License
      </a>
      <span>
        2022-PRESENT © Fwio
      </span>
    </section>
  </article>
</footer>
