---

---

<footer class="mt-auto flex pt-10 pb-6 opacity-80">
  <article class="prose dark:prose-invert mx-auto">
    <section class="text-sm">
      License&nbsp;
      <span>2022-PRESENT &copy; Fwio</span>
    </section>
  </article>
</footer>
