---
import { ExternalLinkIcon } from 'lucide-react'

interface Project {
  title: string
  src: string
  intro: string
}

const projects: Project[] = [
  {
    title: 'Flog',
    src: 'https://github.com/3fuyang/3fuyang.github.io',
    intro: "Fwio's blog.",
  },
  {
    title: 'Promise F',
    src: 'https://github.com/3fuyang/promise-f',
    intro:
      'An implementation of Promise compatible with Promise/A+ specification.',
  },
  {
    title: 'Zhlint Playground',
    src: 'https://github.com/3fuyang/zhlint-demo',
    intro: 'An intuitive playground for zhlint.',
  },
  {
    title: 'Tailwind Default Palette',
    src: 'https://github.com/3fuyang/tailwind-default-palette',
    intro: 'A tool to inspect the default palette of Tailwind CSS.',
  },
]
---

<section class="mx-auto max-w-xl space-y-4">
  {
    projects.map(({ src, title, intro }) => (
      <a class="block" href={src} target="_blank" rel="noreferrer noopener">
        <article
          class:list={[
            'text-foreground/75 rounded-md px-3 py-2',
            'hover:text-foreground focus-visible:text-foreground',
            'transition-colors',
          ]}
        >
          <h2 title={title} class="flex items-center space-x-2 tracking-wide">
            <span class="truncate">{title}</span>
            <ExternalLinkIcon className="size-4" />
          </h2>
          <main class="overflow-auto text-sm text-pretty">{intro}</main>
        </article>
      </a>
    ))
  }
</section>
