---
import { ViewTransitions } from 'astro:transitions'
import SpeedInsights from "@vercel/speed-insights/astro"

import NavBar from '~/components/NavBar.astro'
import Footer from '~/components/Footer.astro'

import '../styles/main.css'

interface Props {
  title?: string
}

const { title = 'Fwio' } = Astro.props
---

<html lang="en-US">
  <head>
    <title>{title}</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="UN JOUR JE SERAI DE RETOUR PRÈS DE TOI" />
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="author" content="Fwio" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="fwio,blog,ts,typescript,vue,react"
      data-rh="true"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/fwio.svg" />
    <link rel="apple-touch-icon" href="/fwio-apple-touch.png" sizes="180x180" />
    <link rel="mask-icon" href="/fwio.svg" color="#FFFFFF" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css"
    />
    <slot name="head" />
    <ViewTransitions />
    <SpeedInsights />
  </head>
  <body>
    <div class="scroll-smooth text-gray-700 dark:text-gray-200">
      <NavBar />
      <main class="px7 py10">
        <slot />
        <Footer />
      </main>
      <img
        aria-hidden="true"
        src="/seagull.svg"
        alt="seagull"
        class="pointer-events-none fixed left-1/2 top-1/2 aspect-1 ha max-w-2/5 op45 mix-blend-difference filter-invert-60 md:max-w-1/6 -translate-1/2 dark:op100"
      />
    </div>
  </body>
</html>

<script>
  import { THEME, THEME_STORAGE_KEY } from '~/hooks/useDark'

  const prevTheme = localStorage.getItem(THEME_STORAGE_KEY)

  if (
    prevTheme === THEME.dark ||
    (!prevTheme &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    document.documentElement.classList.add(THEME.dark)
  } else {
    document.documentElement.classList.remove(THEME.dark)
  }
</script>
