---
import SpeedInsights from "@vercel/speed-insights/astro"
import { Image } from 'astro:assets';
import '@fontsource/geist-sans';
import '@fontsource/geist-sans/300.css'

import Seagull from '../../public/seagull.svg'
import NavBar from '@/components/NavBar.astro'
import Footer from '@/components/Footer.astro'

import '../styles/main.css'
import '../styles/global.css'

const { pathname } = Astro.url

const isPost = ['blog/', 'notes/', 'essay/'].some((item) => pathname.includes(item))

const isProd = import.meta.env.PROD

interface Props {
  title: string
  keywords?: string[]
  description?: string
}

const { title, keywords = ['fwio', 'blog' ,'ts' , 'typescript', 'vue', 'react'], description = 'UN JOUR JE SERAI DE RETOUR PRÈS DE TOI' } = Astro.props
---

<html lang="en-US">
  <head>
    <title>{title}</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="author" content="Fwio" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content={keywords.join(',')}
      data-rh="true"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/fwio.svg" />
    <link rel="apple-touch-icon" href="/fwio-apple-touch.png" sizes="180x180" />
    <link rel="mask-icon" href="/fwio.svg" color="#FFFFFF" />
    <slot name="head" />
    <script is:inline>
      const THEME_LOCAL_STORAGE_KEY = 'usehooks-ts-ternary-dark-mode'
      const THEME_ENUM ={
        dark: 'dark',
        light: 'light',
        system: 'system'
      }

      const prevTheme = JSON.parse(localStorage.getItem(THEME_LOCAL_STORAGE_KEY)) ?? 'system'
      const isDarkOS = window.matchMedia('(prefers-color-scheme: dark)').matches
      const isDarkMode = prevTheme === THEME_ENUM.dark || (
        prevTheme === THEME_ENUM.system && isDarkOS
      )

      if (isDarkMode) {
        document.documentElement.classList.add(THEME_ENUM.dark)
      } else {
        document.documentElement.classList.remove(THEME_ENUM.dark)
      }
    </script>
    {isProd && <SpeedInsights />}
  </head>
  <!-- Third-party scripts in production -->
  <Fragment>
    {isProd && (
      <>
        <script
          type="text/partytown"
          async
          src="https://www.googletagmanager.com/gtag/js?id=G-Z0VQSCZHJ1"
        />
        <script type="text/partytown">
          window.dataLayer = window.dataLayer || [];
          
          // eslint-disable-next-line prefer-rest-params
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-Z0VQSCZHJ1');
        </script>
      </>
    )}
  </Fragment>
  <body>
    <div class="scroll-smooth">
      <NavBar />
      <main class="min-h-[calc(100vh_-_3rem)] items-stretch px-6 py-10">
        <slot />
        <Footer />
      </main>
      {!isPost && (
        <Image
          aria-hidden="true"
          src={Seagull}
          alt=""
          fetchpriority="high"
          class="pointer-events-none fixed left-1/2 top-1/2 aspect-square h-auto max-w-[45%] -translate-x-1/2 -translate-y-1/2 opacity-45 md:max-w-[17%]"
        />
      )}
    </div>
  </body>
</html>
