---
import { ViewTransitions } from 'astro:transitions'
import SpeedInsights from "@vercel/speed-insights/astro"
import { Image } from 'astro:assets';

import Seagull from '../../public/seagull.svg'
import NavBar from '~/components/NavBar.astro'
import Footer from '~/components/Footer.astro'

import '../styles/main.css'

const { pathname } = Astro.url

const isHome = pathname === '/'

const isProd = process.env.NODE_ENV === 'production'

interface Props {
  title: string
  keywords?: string[]
  description?: string
}

const { title, keywords = ['fwio', 'blog' ,'ts' , 'typescript', 'vue', 'react'], description = 'UN JOUR JE SERAI DE RETOUR PRÈS DE TOI' } = Astro.props
---

<html lang="en-US">
  <head>
    <title>{title}</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="author" content="Fwio" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content={keywords.join(',')}
      data-rh="true"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/fwio.svg" />
    <link rel="apple-touch-icon" href="/fwio-apple-touch.png" sizes="180x180" />
    <link rel="mask-icon" href="/fwio.svg" color="#FFFFFF" />
    <slot name="head" />
    <ViewTransitions />
    <SpeedInsights />
  </head>
  <>
  {isProd && (
    <>
      <script
        type="text/partytown"
        src="https://www.googletagmanager.com/gtag/js?id=G-Z0VQSCZHJ1"
      />
      <script type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-Z0VQSCZHJ1');
      </script>
    </>
  )}
  </>
  <body>
    <div class="scroll-smooth text-gray-700 dark:text-gray-200">
      <NavBar />
      <main class="px6 py10">
        <slot />
        <Footer />
      </main>
      {!isHome && (
        <Image
          aria-hidden
          src={Seagull}
          alt=""
          fetchpriority="high"
          class="pointer-events-none fixed left-1/2 top-1/2 aspect-1 ha max-w-2/5 op45 mix-blend-difference filter-invert-60 md:max-w-1/6 -translate-1/2 dark:op100"
        />
      )}
    </div>
  </body>
</html>

<script>
  import { THEME, THEME_STORAGE_KEY } from '~/hooks/useDark'

  const prevTheme = localStorage.getItem(THEME_STORAGE_KEY)

  if (
    prevTheme === THEME.dark ||
    (!prevTheme &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    document.documentElement.classList.add(THEME.dark)
  } else {
    document.documentElement.classList.remove(THEME.dark)
  }
</script>
